header  {background-image: URL('http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png');
  
  width: 80%;
  height:360px;
  background-size: 100%;
  text-align: center;
  background-position: center;
}

main {
  font-family: 'Josefin Sans', sans-serif;
}

blockquote {
  background: gray;
  font-family: 'Abril Fatface', cursive;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {font-weight: ;}

ul {
  list-style-type: square;
}