@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans&family=Merriweather&display=swap');

div.stranka { 
  width: 1280px;
}

header{
  width: 1280px;
}

main {
  font-family: 'Josefin Sans', sans-serif;
}

blockquote {
  background: gray;
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {font-weight: ;}

ul {
  list-style-type: square;
  font-weight: normal;
}


span.uvod {
  font-weight: 700;
}